.cases {
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: center;
}

.cases-container {
  padding-left: 28px;
  padding-right: 28px;
}

.cases-description {
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.65;

  color: var(--main-text-color);
}

.cases-title {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  color: var(--main-text-color);
}

.cases-text {
  margin-bottom: 39px;

  line-height: 1.56;

  color: var(--main-text-color);
}

.cases-list {
  display: flex;
  gap: 8px;
  row-gap: 7px;
  flex-wrap: wrap;
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 3;
}
.order-3 {
  order: 5;
}
.order-4 {
  order: 7;
}
.order-5 {
  order: 2;
}
.order-6 {
  order: 4;
}
.order-7 {
  order: 6;
}
.order-8 {
  order: 8;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  .cases-item {
    flex-basis: calc((100% - 24px) / 4);
  }

  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .order-4 {
    order: 4;
  }
  .order-5 {
    order: 5;
  }
  .order-6 {
    order: 6;
  }
  .order-7 {
    order: 7;
  }
  .order-8 {
    order: 8;
  }
}
