<section class="cases" id="cases">
  <div class="container cases-container">
    <p class="cases-description">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list list gallery">
      <li class="cases-item order-1">
        <a class="gallery-link" href="./images/big/bussines1-3x.jpg">
          <img src="./images/big/bussines1-3x.jpg" alt="cases" width="320" />
        </a>
      </li>
      <li class="cases-item order-2">
        <a class="gallery-link" href="./images/big/bussines2-3x.jpg">
          <img src="./images/big/bussines2-3x.jpg" alt="cases" width="320" />
        </a>
      </li>
      <li class="cases-item order-3">
        <a class="gallery-link" href="./images/big/bussines3-3x.jpg">
          <img src="./images/big/bussines3-3x.jpg" alt="cases" width="320" />
        </a>
      </li>
      <li class="cases-item order-4">
        <a class="gallery-link" href="./images/big/bussines4-3x.jpg">
          <img src="./images/big/bussines4-3x.jpg" alt="cases" width="320" />
        </a>
      </li>
      <li class="cases-item order-5">
        <a class="gallery-link" href="./images/big/bussines5-3x.jpg">
          <img src="./images/big/bussines5-3x.jpg" alt="cases" width="320" />
        </a>
      </li>
      <li class="cases-item order-6">
        <a class="gallery-link" href="./images/big/bussines6-3x.jpg">
          <img src="./images/big/bussines6-3x.jpg" alt="cases" width="320" />
        </a>
      </li>
      <li class="cases-item order-7">
        <a class="gallery-link" href="./images/big/bussines7-3x.jpg">
          <img src="./images/big/bussines7-3x.jpg" alt="cases" width="320" />
        </a>
      </li>
      <li class="cases-item order-8">
        <a class="gallery-link" href="./images/big/bussines8-3x.jpg">
          <img src="./images/big/bussines8-3x.jpg" alt="cases" width="320" />
        </a>
      </li>
    </ul>
  </div>
</section>
